<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554611811329-nij65o558g5ajd9a0u60vj9omd3fbkoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554611811329-nij65o558g5ajd9a0u60vj9omd3fbkoo</string>
	<key>API_KEY</key>
	<string>AIzaSyDWivjD3H3McraK7EXvL_taeNtFEpy7P4s</string>
	<key>GCM_SENDER_ID</key>
	<string>554611811329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sosty</string>
	<key>PROJECT_ID</key>
	<string>sosty-244e0</string>
	<key>STORAGE_BUCKET</key>
	<string>sosty-244e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554611811329:ios:c394a70d696696addd4c00</string>
</dict>
</plist>